.ci-links {
	clear: both;
	margin-top: 2em;
}

.ci-user-info {
	width: 66%;
	float: left;
	/* border-style: solid;
	border-width: thin;
	border-color: blue;*/
}

.ci-user-picture {
	float: right;
	text-align: center;
	width: 33%;
	/* border-style: solid;
	border-width: thin;
	border-color: red; */
}
