/*  Change body font to Futura */

body {
	background: white;
	/*font-family: Futura, 'Century Gothic', 'Apple Gothic', AppleGothic, sans-serif;*/
	font-family:Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 12px;
	line-height: 1;
	color: #222222;
	position: relative;
	-webkit-font-smoothing: antialiased;
}
/* Change Base font to Futura */

/* Base Type Styles Using Modular Scale ---------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
	margin: 0;
	padding: 0; /*font-size: 12px;*/
	color: #222222;
	direction: ltr;
}
p {
	font-family: inherit;
	font-weight: normal;
	font-size: 12px;
	line-height: 1.6;
	margin-bottom: 17px;
}
p.lead {
	font-size: 17.5px;
	line-height: 1.6;
	margin-bottom: 17px;
}
aside p {
	font-size: 11px;
	line-height: 1.35;
	font-style: italic;
}
h1, h2, h3, h4, h5, h6 {
	/*font-family: Futura, 'Century Gothic', 'Apple Gothic', AppleGothic, sans-serif;*/
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-style: normal;
	color: #005DAB;
	text-rendering: optimizeLegibility;
	line-height: 1.1;
	margin-bottom: 14px;
	margin-top: 14px;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	font-size: 60%;
	color: #6f6f6f;
	line-height: 0;
}
h1 {
	font-size: 27px;
}
h2 {
	font-size: 21px;
}
h3 {
	font-size: 17px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 13px;
}
h6 {
	font-size: 11px;
}
hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 22px 0 21px;
	height: 0;
}
.subheader {
	line-height: 1.3;
	color: #6f6f6f;
	font-weight: 300;
	margin-bottom: 17px;
}
em, i {
	font-style: italic;
	line-height: inherit;
}
strong, b {
	font-weight: bold;
	line-height: inherit;
}
small {
	font-size: 30%;
	line-height: inherit;
}
code {
	font-weight: bold;
	background: #ffff99;
}
.node-type-post .user-picture,
.node-type-advpoll .user-picture,
.comment-wrapper .user-picture {
	float:left;
	margin:0 20px 0 0;
}

.node-type-post .pane-node-comments .pane-title,
.node-type-advpoll .pane-node-comments .pane-title {
	padding-bottom:15px;
	border-bottom:1px solid #ddd;
}
.node-type-post .indented,
.node-type-advpoll .indented {
	margin-left:35px;
	background:#d8dfea;
	padding:10px;
	padding-bottom:15px;
	border-bottom:1px solid #ddd;
}
.node-type-post .indented .comment,
.node-type-advpoll .indented .comment {
	background: none;
}
.node-type-post .comment,
.node-type-advpoll .comment {
	background:#edeff4;
	padding:10px;
	padding-bottom:15px;
	border-bottom:1px solid #ddd;
}

.node-type-post .submitted,
.node-type-advpoll .submitted {
	font-size:12px;
	margin-bottom:10px;
}
.pane-og-nodes-panel-pane-8 .view-content .twelve {
	float:left;
	text-align:center;
	width:262px;
	border:1px solid #ddd;
	margin:0 7px 0 7px;
	min-height:240px;
	padding:0;
	padding:10px 0 0 0;
}
.pane-og-nodes-panel-pane-8 .view-content .twelve p {
	margin:10px 0 10px 0
}
.pane-node-blocks-panel-pane-4 .view-content .twelve a {
	display:block;
	float:left;
	text-align:center;
	/*width:245px;*/
		/*border:1px solid #ddd;*/
		margin:0 7px 0 7px;
	/*min-height:262px;*/
		padding:0;
	padding:10px 0 0 0;
}
.pane-node-blocks-panel-pane-4 .view-content .twelve a img {
	border:1px solid #ddd;
	padding:5px;
}
/* css node/168/gallery start */
		.pane-og-nodes-panel-pane-4 .view-content .twelve {
	float:left;
	text-align:center;
	width:252px;
	border:1px solid #ddd;
	margin:0 7px 0 7px;
	min-height:220px;
	padding:0;
	padding:10px 0 0 0;
}
/* css node/168/gallery End */
		
			ul.menu {
	float:right;
}
ul.menu li {
	list-style:none;
	background:none;
	float:left;
}
ul.menu li.first {
	padding-right:0;
}
ul.menu li.first a {
	padding-right:10px;
	border-right:1px solid #ddd;
}
ul.menu li.first a {
}
#site-name a {
	color:#002675;
}
table tr .views-field-contextual-links {
position: relative;
}
.node-type-living-shoreline-case-study fieldset.collapsible {
	position:relative;
	padding-top:35px;
}
.node-type-living-shoreline-case-study span.fieldset-legend {
	background:none !important;
	padding-top:0px;
	font-size:18px;
}
.node-type-living-shoreline-case-study fieldset.collapsible legend {
	position:absolute;
	background:none;
	top:13px;
	margin-left:-18px;
}
.node-type-living-shoreline-case-study fieldset.collapsible .fieldset-wrapper {
	line-height:22px;
	font-weight:normal;
}
.node-type-living-shoreline-case-study fieldset.collapsible .fieldset-wrapper .field-label {
	font-weight:normal;
}
#node_living_shoreline_case_study_full_group_ls_design_considerations {
	background:url(../images/design_considerations-3.jpg) no-repeat 9px 10px;
	min-height:268px;
	padding-left:266px;
}
#node_living_shoreline_case_study_full_group_ls_structural_elements {
	background:url(../images/structural_elements-4.jpg) no-repeat 9px 10px;
	min-height:265px;
	padding-left:266px;
}
#node_living_shoreline_case_study_full_group_ls_env_conditions {
	background:url(../images/Coastal_Environmental_Considerations-2.jpg) no-repeat 9px 10px;
	min-height:265px;
	padding-left:266px;
}
#node_living_shoreline_case_study_full_group_ls_non_structural_elements {
	background:url(../images/Non-Structural_Elements-5.jpg) no-repeat 9px 10px;
	min-height:265px;
	padding-left:266px;
}
#node_living_shoreline_case_study_full_group_ls_project_performance {
	background:url(../images/project_performance-6.jpg) no-repeat 9px 10px;
	min-height:265px;
	padding-left:266px;
}
#node_living_shoreline_case_study_full_group_ls_pre_conditions {
	background:url(../images/pre-project_conditions-1.jpg) no-repeat 9px 10px;
	min-height:265px;
	padding-left:266px;
}

/* list section removes the links from printing pages from browser  */
@media print {
  * {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: "";
  }
  abbr[title]:after {
    content: "";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}