.abstract {
	margin-left: 5em;
}

.abstract-heading {
	font-size: 170%;
}

.abstract-title {
	font-size: 145%;
	color: #5895BE;
}

.abstract-body {
	margin-left: 2em;
}

.abstract-intro {
	font-size: 125%;
	font-weight: bold;
}

.go-top a {
	font-size: 70%;
	padding-left: 5px; 
}
