/* $Id: ie6-fixes.css 6564 2010-02-25 00:50:03Z chris $ */

/* IE6 */

/* Page inner */
#page-inner {
  background: url(../images/wrapper-bg-ie.png) no-repeat center top;
}

/* Primary menu */
#primary-menu ul.menu li a.active,
#primary-menu ul.menu li.active-trail a:link,
#primary-menu ul.menu li.active-trail a:visited {
  background: #fff;
  padding-left: 10px;
}

#primary-menu ul.menu li.hover,
#primary-menu ul.menu li a:hover,
#primary-menu ul.sf-menu li a:hover {
  background: none;
}

#primary-menu ul.menu li.active-trail ul.menu {
  margin-left: 0;
}

#primary-menu ul.sf-menu li ul.menu li,
#primary-menu ul.menu li ul.menu li {
  line-height: 115%;
}

#primary-menu ul.sf-menu li ul.menu li a:link,
#primary-menu ul.sf-menu li ul.menu li a:visited,
#primary-menu ul.menu li:hover ul.menu li a:link,
#primary-menu ul.menu li:hover ul.menu li a:visited,
#primary-menu ul.menu li.hover ul.menu li a:link,
#primary-menu ul.menu li.hover ul.menu li a:visited {
  background: none;
  display: block;
  padding: 5px;
}

#primary-menu ul.sf-menu li ul.menu li a:hover,
#primary-menu ul.sf-menu li ul.menu li a:focus,
#primary-menu ul.menu li:hover ul.menu li a:hover,
#primary-menu ul.menu li.hover ul.menu li a:hover {
  background: #A3CFE1;
  color: #000;
  display: block;
  text-decoration: none;
}

/* Search */
#search-box.block {
  width: 230px;
}

#search-box input#search_header {
  padding: 2px 0px;
}

/* Pagers */
ul.pager li a:link,
ul.pager li a:visited,
ul.pager li a:hover,
ul.pager li.pager-current {
  border: none;
}

/* Color leaves */
.color-leaves .inner {
  height: 197px;
}

.color-leaves .content-wrapper {
  background: #CDEE99 url(../images/background-green-semi-transparent-ie.png) repeat;
  height: 145px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 644px;
}

.color-leaves .icon-hand {
  z-index: 1;
}

/* Lists */
.content-inner .content ul li {
  list-style-image: url(../images/list-style-arrow-ie.png);
}

/* Submit */
.form-submit {
  padding: 0;
}

/* Skinr */
.list-menu-arrow ul.menu li,
.list-menu-arrow ul.menu li a:link,
.list-menu-arrow ul.menu li a:visited {
  position: relative;
}

.list-menu-arrow ul.menu li {
  display: block;
  width: 92%;
}

.list-menu-arrow ul.menu li a:link,
.list-menu-arrow ul.menu li a:visited {
  display: inline;
  width: auto;
}

.list-menu-arrow ul.menu li a:hover,
.list-menu-arrow ul.menu li a:focus,
.list-menu-arrow ul.menu li a.active {
  background: transparent url(../images/sidebar-menu-li-bg.png) no-repeat 4px 7px;
}


/*  PNG fixes
-------------------------------------------------------------- */
.pngfix,
#logo img { 
  behavior: url(/sites/all/themes/fusion/fusion_core/js/iepngfix.htc);
} 