/* $Id: fusion-freshstart-style.css 6555 2010-02-24 20:21:15Z chris $ */

/* Basic Typography & Colors
-------------------------------------------------------------- */
/* Add general site styling here for typography and background */
body {
  font-size: 87.5%;   /* also set in .info: settings[base-font-size] = font-size-14 */
}

/* Default link styles - separate a:visited for a different visited link style */
a,
a:link,
a:visited {
  color: #e49f02;
  text-decoration: none;
}

/* Hover/active link styles. Don't forget :focus for accessibility */
a:hover,
a:focus,
a:active {
  text-decoration: underline;
}


/* Specific Typography
-------------------------------------------------------------- */
#site-name {
}

.footer-message {
  font-size: 90%;
}


/* HTML Elements
-------------------------------------------------------------- */
/* Add padding here if desired so edges of theme aren't flush with browser window */
html {
  background: #fff url(../images/bg.png) repeat-x;   /* background & font color */
  color: #000;
}

body {
  color: #888;
}


/* Site Info
-------------------------------------------------------------- */
/* Wrapper around logo, site name, and slogan */
.header-site-info span {
  display: block;
}

#header-site-info.block {
  margin-bottom: 0;
}

/* Add float here to put logo and site name side by side, also add margins as
  needed */
#logo {
  float: left;
  margin: 0 5px 0 0;
}

/* Link and hover styles for site name */
#site-name {
  font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
  font-size: 357%; /* 50px/14px */
  font-style: italic;
  font-weight: bold;
  line-height: 100%;
  padding: 15px 0 0 0;
  text-transform: uppercase;
  white-space: nowrap;
}

#site-name a:link,
#site-name a:visited,
#site-name a:hover,
#site-name a:active {
  color: #0a3654;
  text-decoration: none;
}

#site-name-wrapper {
  display: block;
  float: left;
}

/* Typography for site slogan */
#slogan {
  display: block;
  margin: 0;
  color: #e7942a;
  font-size: 171%; /* 24px/14px */
  font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-style: italic;
}


/* Regions

  Classes (.region-name) should always be used instead of IDs (#region-name) so
  that Skinr styles can override them with a class later
-------------------------------------------------------------- */

/* All Regions
-------------------------------------------------------------- */
/* By default this wrapper is set to 100% width and centered -- override here to
  narrow wrapper or align left or right */
.page {
  padding: 25px 0 0 0;
}

/* The 0 values here remove padding and spacing at the bottom of the page.
  Remove to add a gap at the very bottom of the page */
.page-inner {
  border: 0;
  margin-bottom: 0;
  padding: 0;
}


/* Header Regions
-------------------------------------------------------------- */
/* Header Top region to the bottom of Header region */
/* For full-width header background, add background image/color here */
.header-group-wrapper {
}

.header-group {
}

/* Header Top region which sits above the header */
/* Works well with inline login or inline menu block style */
.header-top-wrapper {
}

.header-top {
}

.header-top a:link,
.header-top a:visited,
.header a:link,
.header a:visited {
  color: #276fa8;
}

/* This is the Header region in which you can place (small) blocks */
.header {
}


/* Primary Menu
/-------------------------------------------------------------- */
/* Add general styles for primary menu here, such as typography, borders, floats,
  or spacing above/below */
#primary-menu {
  font-family: "Myriad Pro", Myriad, "Trebuchet MS", Arial, Helvetica, sans-serif;
  overflow: visible;
}

#primary-menu.block {
  margin: 0;
}

#primary-menu .inner {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 10;
}

/* styles for Superfish primary menu */
#primary-menu ul.menu {
  float: right;
  font-size: 123%;  /* 16px/13px */
  margin-right: 20px;
}

/* These are the top level menu items, add border-right here for separators */
#primary-menu ul.menu li {
  display: block;
  float: left;
  margin-left: 5px;
}

/* Link style for top level menu items, add padding here */
#primary-menu ul.menu li a:link,
#primary-menu ul.menu li a:visited  {
  color: #123d59;
  display: block;
  font-weight: normal;
  padding: 5px 10px 5px 18px;
  text-decoration: none;
}

#primary-menu ul.menu li a:hover,
#primary-menu ul.menu li a:active,
#primary-menu ul.menu li a:focus {
  text-decoration: underline;
}

#primary-menu ul.menu li a.active,
#primary-menu ul.menu li.active-trail a:link,
#primary-menu ul.menu li.active-trail a:visited {
  background: url(../images/primary-menu-bg-left.png) no-repeat left top;
  color: #e7942a;
  text-decoration: none;
}

/* Drop down showing second level and highlighting top level */
#primary-menu ul.menu li a.active ul li,
#primary-menu ul.menu li.active-trail ul li a:link,
#primary-menu ul.menu li.active-trail ul li a:visited {
  background: #F3F3F3;
}

#primary-menu ul.menu li:hover ul.menu li a:link,
#primary-menu ul.menu li:hover ul.menu li a:visited,
#primary-menu ul.menu li.hover ul.menu li a:link,
#primary-menu ul.menu li.hover ul.menu li a:visited {
  background: #F3F3F3;
}

#primary-menu ul.menu li:hover ul.menu li a:hover,
#primary-menu ul.menu li.hover ul.menu li a:hover {
  background: #A3CFE1;
  color: #000;
  text-decoration: none;
}

#primary-menu ul.menu li.active-trail ul.menu li a:link,
#primary-menu ul.menu li.active-trail ul.menu li a:visited {
  color: #123d59;
}

#primary-menu ul.menu li.active-trail ul.menu li a:hover {
  color: #000;
}

#primary-menu ul.menu li.active-trail ul.menu li a.active {
  color: #000;
  text-decoration: underline;
}

/* 2nd Level */
#primary-menu ul.menu li ul.menu {
  background: #fff;
  border: 1px solid #A3CFE1;
  font-size: 92.3%; /* 12px/13px */
  margin: -7px 0 0 7px;
  padding: 2px;
  opacity: 0.9; /* 90% */
  filter: alpha(opacity=90); /* 90% */
}

#primary-menu ul.menu li ul.menu li {
  float: left;
  font-family: Arial, sans-serif;
  font-weight: bold;
  height: auto;
  line-height: 28px;
  margin: 0;
  text-shadow: none;
}

#primary-menu ul.menu li ul.menu li a:link,
#primary-menu ul.menu li ul.menu li a:visited {
  display: block;
  margin: 0;
  padding: 0 10px;
  text-transform: none;
}

#primary-menu ul.menu li ul.menu li a:hover {
  display: block;
  text-decoration: none;
}

/* 3rd Level */
#primary-menu ul.menu li ul.menu li ul.menu,
#primary-menu ul.menu li ul.menu li.current ul.menu,
#primary-menu ul.menu li ul.menu li:hover ul.menu,
#primary-menu ul.menu li ul.menu li.sfHover ul.menu {
  font-size: 100%; /* 12px/12px */
  margin: 0 0 0 2px;
}

#primary-menu ul.menu li ul.menu li ul.menu li {
  margin: 0;
}

/* Primary menu - Nolink */
#primary-menu ul.menu li span.nolink  {
  color: #123d59;
  display: block;
  font-weight: normal;
  padding: 5px 10px 5px 18px;
  text-decoration: none;
}

#primary-menu ul.menu li span.nolink:hover,
#primary-menu ul.menu li span.nolink.hover,
#primary-menu ul.menu li:hover span.nolink,
#primary-menu ul.menu li.hover span.nolink,
#primary-menu ul.sf-menu li.sfHover span.nolink {
  text-decoration: underline;
}

#primary-menu ul.menu li.active-trail span.nolink {
  background: url(../images/primary-menu-bg-left.png) no-repeat left top;
  color: #e7942a;
  text-decoration: none;
}

#primary-menu ul.sf-menu li.sfHover ul.menu li span.nolink {
  text-decoration: none;
}

#primary-menu ul.menu li:hover ul.menu li span.nolink,
#primary-menu ul.menu li.hover ul.menu li span.nolink,
#primary-menu ul.sf-menu li.sfHover ul.menu li span.nolink {
  background: none;
  color: #123d59;
  display: block;
  margin: 0;
  padding: 0 10px;
  text-transform: none;
}

#primary-menu ul.menu li:hover ul.menu li span.nolink:hover,
#primary-menu ul.menu li.hover ul.menu li span.nolink.hover {
  background: #A3CFE1;
  color: #000;
  text-decoration: none;
}


/* Secondary menu
-------------------------------------------------------------- */
/* This menu usually appears in the header as a set of simple text links */
.secondary-menu {
}

#secondary-menu.block .inner {
  margin-right: 0;
}

/* Set general style for menu here -- background, alignment, etc. */
.secondary-menu-inner ul.links {
  float: right;
}

/* Add a border-right here for a separator */
.secondary-menu-inner ul.links li {
}

/* Add border-right: 0; here to remove right separator on last menu item */
.secondary-menu-inner ul.links li.last {
}

/* Styles for links */
.secondary-menu-inner ul.links li a:link,
.secondary-menu-inner ul.links li a:visited {
  border-left: 1px solid #ccc;
  color: #276FA8;
  display: block;
  float: left;
  padding: 0 5px;
}

.secondary-menu-inner ul.links li.first a:link,
.secondary-menu-inner ul.links li.first a:visited {
  border-left: 0;
  padding-left: 0;
}

.secondary-menu-inner ul.links li.last a:link,
.secondary-menu-inner ul.links li.last a:visited {
  padding-right: 0;
}

.secondary-menu-inner ul.links li a:hover,
.secondary-menu-inner ul.links li a:focus,
.secondary-menu-inner ul.links li a.active {
  text-decoration: underline;
}


/* Header - Search
-------------------------------------------------------------- */
#search-box.block {
  float: right;
  margin-top: 20px;
  width: auto;
}

#search-box input.search-input {
  border: 1px solid #1699B5;
  padding: 4px;
}

#search-box input#search_header {
  background: #1699B5;
  border: 1px solid #000;
  color: #fff;
  cursor: pointer;
  font-family: "Myriad Pro", Myriad, "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 100%; /* 13px/13px */
  padding: 2px 3px;
}

#search-box input#search_header:hover,
#search-box input#search_header.hover {
  background: #56AB09;
  cursor: pointer;
}


/*  Preface Regions
-------------------------------------------------------------- */
/* The Preface Top region sits between the header and the Main Area
 (columns, sidebars, and main content).  The Preface Bottom region
 is inside the Main Area. */
.preface-top-wrapper {
}

.preface-top {
  background: #fff;
  margin-bottom: -10px;
  padding: 10px 0 0 0;
}


/*  Main Area (content + sidebars + preface bottom + postscript top)
-------------------------------------------------------------- */
#page-inner {
  background: url(../images/wrapper-bg.png) no-repeat center top;
}

#main {
  background: #fff;
  padding-top: 10px;
}


/* Sidebar Regions
-------------------------------------------------------------- */
/* Sidebar widths can be controlled through theme settings */
.sidebar-first {
}

.sidebar-last {
}


/* Content Regions
-------------------------------------------------------------- */
.content-top {
}

.content {
}

.content-inner {
}

.content-bottom {
}

/* This region only appears on full node pages. It's useful for ads or other
  content between the body of the node and its comments */
.node-bottom {
}


/*  Postscript & Footer Regions
-------------------------------------------------------------- */

#footer-wrapper {
  margin: 0 auto;
}

.footer-wrapper {
  background: #1699b5;
  color: #fff;
}

#footer-wrapper-inner {
  padding: 20px 0 0 0;
}

#footer-message-wrapper,
#footer-message-text.block {
  float: left;
  width: auto;
}

.footer-message-wrapper a:link,
.footer-message-wrapper a:visited,
.footer a:link,
.footer a:visited {
  color: #fff;
  text-decoration: underline;
}

.footer h2.block-title {
  color: #fff;
}

/* Store footer */
#store-footer {
  background: #1699b5;
  color: #fff;
}

#store-footer a:link,
#store-footer a:visited {
  color: #fff;
  text-decoration: underline;
}


/* Page titles
/-------------------------------------------------------------- */
/* Page and full node titles */
h1.title {
  border-bottom: 1px solid #528dbb;
  color: #528dbb;
  font-family: "Myriad Pro", Myriad, "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 138.5%; /* 18px/13px */
  font-weight: bold;
  padding: 0 0 5px 0;
  text-transform: uppercase;
}


/* Default node styles
/-------------------------------------------------------------- */
/* Change unpublished and preview colors for dark background themes */
.node-unpublished {
  background-color: #fff4f4;
}

.preview .node {
  background-color: #ffffea;
}

/* Typography for node titles */
h2.title {
  font-size: 138.5%; /* 18px/13px */
  font-weight: bold;
  color: #656565;
  margin: 0;
}

/* Colors and styles for linked node titles */
h2.title a:link,
h2.title a:visited {
  color: #6E9519;
  text-decoration: none;
}

h2.title a:hover,
h2.title a:focus,
h2.title a:active {
  text-decoration: underline;
}

/* Separators and padding for node teasers */
.teaser {
  padding: 0 0 20px 0;
  border-bottom: 1px dashed #528dbb;
}

/* Author/date info */
.meta {
}

.submitted {
  display: block;
  font-size: 84.6%; /* 11px/13px */
}

body.full-node .submitted {
  margin: 0 0 25px 0;
}

/* Links for nodes (taxonomy, commenting, read more, etc) */
#content-inner .content .terms ul,
#content-inner .content div.links ul {
  padding-left: 0;
}

div.node ul.links li,
div.node ul.inline li,
div.node .links a {
  padding-right: 14px;
}

div.node ul.links li.last a {
  padding-right: 0;
}

/* Just more/read more links */
div.node .read-more a,
div.node .more-link a {
}

blockquote {
  margin: 20px 30px;
  border-top: 1px solid #D6E3EA;
  border-bottom: 1px solid #D6E3EA;
  font-style: italic;
  padding: 5px 10px;
}

.picture {
  float: right;
  margin: 0 0 15px 15px;
}

/* List styles */
.content-inner .content ul,
.content-inner .content ol {
  padding: 0 0 10px 20px;
}

.content-inner .content ul li {
  list-style-image: url(../images/list-style-arrow.png);
  padding: 0 5px 0 0;
}


/* Default block styles
/-------------------------------------------------------------- */
h2.block-title {
  color: #528dbb;
  font-family: "Myriad Pro", Myriad, "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 129%; /* 18px/14px */
  margin-bottom: 5px;
  text-transform: uppercase;
}


/* Breadcrumbs
-------------------------------------------------------------- */
.breadcrumbs {
}

.breadcrumbs a:link,
.breadcrumbs a:visited {
}


/* Drupal messages
/-------------------------------------------------------------- */
/* Error that appears when a required form field is not filled out */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #aa1144;
}

/* Required field */
.marker,
.form-required {
  color: #aa1144;
}

/* Pagers
-------------------------------------------------------------- */
ul.pager {
}

ul.pager li {
  margin: 0 2px;
  padding: 0;
}

ul.pager a:link,
ul.pager a:visited,
ul.pager li.pager-current {
  border: none;
  color: #4e4e4e;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-family: "Myriad Pro", Myriad, "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 123%;  /* 16px/13px */
  font-weight: bold;
  text-decoration: none;
}

ul.pager a:hover,
ul.pager a:focus {
  text-decoration: underline;
}


/* Forms
/-------------------------------------------------------------- */
/* Typography and backgrounds for all form buttons */
form input.form-submit {
  background: #1699B5;
  border: 1px solid #000;
  color: #fff;
  font-family: "Myriad Pro", Myriad, "Trebuchet MS", Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-size: 107.7%; /* 14px/13px */
  padding: 1px 3px;
}

/* Hover style for form buttons */
form input.form-submit:hover,
form input.form-submit.hover,
form input.form-submit:focus {
  background: #56AB09;
  cursor: pointer;
}

/* Typography, background, borders, padding for form fields */
.form-item input,
.form-item select,
.form-item textarea {
  border: 1px solid #1699B5;
  padding: 4px;
}

/* Remove backgrounds and border on radios and checkboxes */
.form-item .form-radio,
.form-item .form-checkbox {
  background: none;
  border: none !important;
}

/* Fieldset wrapper around groups of form elements -- add border here */
fieldset {
  border: 2px solid #CCC;
  margin: 15px 0;
  padding: 10px;
}

/* Typography and spacing for legend of fieldsets */
fieldset legend {
}

/* Link style for legend of fieldsets */
fieldset legend,
legend.collapse-processed,
legend.collapse-processed a:link,
legend.collapse-processed a:visited {
  display: block;
  margin: 0;
  font-weight: bold;
  text-decoration: none;
}

/* Tables
-------------------------------------------------------------- */
table {
}

/* Body of tables */
tbody {
  border-top: 1px solid #ccc;
}

/* Header of tables */
thead th,
th {
  border-bottom: 3px solid #ccc;
}

tbody th {
  border-bottom: 1px solid #ccc;
}

/* Alternating row background styles */
tr.even,
tr.even td {
  background-color: #fafafa;
  border-bottom: none;
}

tr.odd,
tr.odd td {
  background-color: #fff;
  border-bottom: none;
}

td.active {
}

tr.drag td,
tr.drag-previous td {
  color: #000;
}


/* Maintenance Page
/-------------------------------------------------------------- */
/* Maintenance page tpl file in Fusion Core has simplified layout, but you can
  also add specific styles, such as a background, just for your offline page */
.in-maintenance  {
}


/*--------------------------------------------------------------*/
/* Module styles
/-------------------------------------------------------------- */


/* Book
/-------------------------------------------------------------- */
.book-navigation .menu {
  border-top: 1px solid #ccc;
}
.book-navigation .page-links {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}


/* Comments
/-------------------------------------------------------------- */
/* Style for each individual comment */
div.comment {
}

/* Subject (title) of each comment */
div.comment h3.title {
}

/* Links (edit, reply, delete) for each comment */
div.comment div.links a,
div.comment ul.links a {
}

/* Alternating styles for even/odd comments */
.comments div.odd {
}

.comments div.even {
}

/* A special highlight style for a comment by the author of the node */
.comments div.comment-by-author {
}

/* Comment signatures */
.signature {
}

/* User avatars in comments */
.comment-wrapper .picture img {
}

div.comment {
  border: 1px solid #c6d2da;
  margin: 15px 0;
  padding: 15px 10px 10px 10px;
  background: #fff url(../images/comment-bg.png) repeat-x;
}

div.comment h3.title {
  margin: 0;
  font-weight: normal;
}

div.comment h3.title a {
  color: #0C97CF;
}

div.comment ul.links {
text-align: right;
}

div.comment div.links a,
div.comment ul.links a {
  font-size: 107.7%; /* 14px/13px */
  text-align: right;
}

#comments div.odd {
  background: #fff url(../images/comment-odd-bg.png) repeat-x;
}

#comments div.even {
}

#comments div.comment-by-author {
  background: #fff url(../images/comment-odd-bg.png) repeat-x;
  border: 4px solid #BED3DF;
  border-top: none;
}

.signature {
  border-top: 1px solid #c6d2da;
  font-size: 84.6%; /* 11px/13px */
  margin: 10px 0;
  padding: 5px 0;
}

.new {
  font-weight: bold;
  border: 1px solid #56AB09;
  padding: 0 5px;
  float: right;
  color: #56AB09;
  background: #fff;
  text-transform: uppercase;
  font-size: 84.6%; /* 11px/13px */
}

form#comment-form {
  margin: 0 0 20px 0;
}

.comment-folded {
  margin: 10px 0 10px 10px;
}

.comment-folded .subject {
  padding-right: 5px;
}

.comment-folded .subject {
  font-weight: bold;
}

.comment-folded .subject a {
  font-style: normal;
  font-weight: normal;
  text-transform: none;
}


/* Forum
/-------------------------------------------------------------- */
#forum .description {
}

.forum-topic-navigation {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

#forum td.posts,
#forum td.topics,
#forum td.replies {
  font-size: 200%; /* 26px/13px */
}

.forum .name {
  font-size: 123%; /* 16px/13px */
}

.forum tr td.forum {
  padding: 0 50px;
}

.forum tr.even td {
  background-color: #F3FFDF;
  border-bottom: none;
}

.forum td {
  padding: 10px 3px;
}

#forum table {
  margin: 0 0 40px 0;
}


/* Poll
/-------------------------------------------------------------- */
div.poll div.bar {
}

div.poll div.bar {
  background-color: #ddd;
}

div.poll div.bar div.foreground {
  background-color: #999;
}


/* Profiles
/-------------------------------------------------------------- */
/* Styles for sub-headings on user profiles */
.profile .picture {
  float: none;
}

.profile dt {
  background-color: #ccc;
}


/* Skinr styles
/-------------------------------------------------------------- */

/* Bright color block styles */
.color-bright h2.block-title {
  font-family: "Arial Narrow",Arial,Helvetica,sans-serif;
  font-size: 171%; /* 24px/14px */
  font-weight: bold;
  letter-spacing: -1px;
  margin: -10px -10px 10px -10px;
  padding: 15px;
  text-align: center;
  text-transform: none;
}

.color-bright .inner {
  color: #fff;
  padding: 10px;
}

.color-bright .inner .content {
  color: #fff;
  font-size: 125%;
  font-weight: bold;
  line-height: 130%;
}

.color-bright .inner .content a:link,
.color-bright .inner .content a:visited {
  color: #fff;
  text-decoration: underline;
}

/* Color - Blue - Dark */
.color-blue-dark .inner {
  background: #A3CFE1;
}

.color-blue-dark a:link,
.color-blue-dark a:visited {
  color: #3F7891;
}

.color-blue-dark h2.block-title {
  background: #84B8CE;
  color: #0c5e8d;
}

/* Color - Green - Dark */
.color-green-dark .inner {
  background: #BAD18C;
  color: #fff;
  padding: 10px;
}

.color-green-dark a:link,
.color-green-dark a:visited {
  color: #6E9519;
}

.color-green-dark h2.block-title {
  background: #86B406;
  color: #587f03;
}

/* Color - Orange */
.color-orange .inner {
  background: #F2C151;
}

.color-orange a:link,
.color-orange a:visited {
  color: #BC7418;
}

.color-orange h2.block-title {
  background: #FFB200;
  color: #845C00;
}


/* Color - Green - Light */
.color-green-light .inner {
  background: #DEF3D0;
  color: #6f6f6f;
  padding: 10px;
}

.color-green-light a:link,
.color-green-light a:visited {
  color: #6E9519;
}

.color-green-light h2.block-title {
  color: #8ba57a;
}

/* Color - Blue - Light */
.color-blue-light .inner {
  background: #d5eefd;
  color: #6f6f6f;
  padding: 10px;
}

.color-blue-light a:link,
.color-blue-light a:visited {
  color: #3F7891;
}

/* Color - Gradient - Gray */
.color-gradient-gray h2.block-title {
  border-bottom: 1px solid #666;
  color: #666;
  font-weight: normal;
}

.color-gradient-gray .inner {
  background: #eee url(../images/background-gradient-gray.png) repeat-x bottom left;
  border: 1px solid #999;
  color: #838383;
  font-size: 87.5%;
  padding: 10px;
}

.color-gradient-gray a:link,
.color-gradient-gray a:visited {
  color: #4e4e4e;
}

.color-gradient-gray .form-item input,
.color-gradient-gray .form-item select,
.color-gradient-gray .form-item textarea {
  border-color: #aaa;
}

.color-gradient-gray form input.form-submit {
  background-color: #aaa;
}

.color-gradient-gray form input.form-submit:hover,
.color-gradient-gray form input.form-submit.hover,
.color-gradient-gray form input.form-submit:focus {
  background-color: #999;
}

.color-gradient-gray #user-login-form .form-item label {
  float: left;
  width: 90px;
}

.color-gradient-gray #user-login-form form input.form-submit {
  float: left;
  margin-right: 20px;
  padding: 3px 10px;
}

.color-gradient-gray #user-login-form .item-list {
  font-size: 90%;
  margin-top: 0;
  float: left;
}

/* Color - Uppercase green title */
.color-title-uppercase-green h2.block-title {
  color: #618312;
}

.color-title-uppercase-green .inner {
  background: #DEF3D0;
  color: #6f6f6f;
  padding: 10px;
}

/* Leaves banner */
.color-leaves {
  overflow: visible;
  position: relative;
}

.color-leaves h2.block-title {
  color: #fff;
}

.color-leaves .inner {
  background: #DEFFBD url(../images/background-leaves.png) no-repeat bottom left;
  border: 3px solid #ddf1fd;
  color: #00534B;
  margin-top: 25px;
  height: 197px;
  padding: 10px;
}

.color-leaves .content-wrapper {
  background: url(../images/background-green-semi-transparent.png) repeat;
  font-family: "Myriad Pro", Myriad, "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin: 18px 280px 0 -10px;
  max-height: 145px;
  overflow: hidden;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
}

.color-leaves .content {
  color: #fff;
  font-size: 286%; /* 40px/14px */
  line-height: 90%;
  padding: 20px 20px 20px 50px;
  text-shadow: 2px 2px #bad497;
}

.color-leaves h2.block-title {
  color: #00534b;
  font-size: 257%; /* 36px/14px */
  font-weight: normal;
  padding: 20px 20px 0 20px;
  text-transform: none;
}

.color-leaves p {
  margin: 0;
}

.color-leaves a:link,
.color-leaves a:visited {
  color: #4e4e4e;
}

.color-leaves .icon-hand {
  background: url(../images/icon-hand.png) no-repeat top left;
  display: block;
  height: 248px;
  position: absolute;
  right: 0;
  top: -30px;
  width: 315px;
}

/* COPRI banner */
.color-copri {
  overflow: visible;
  position: relative;
}

.color-copri h2.block-title {
  color: #fff;
}

.color-copri .inner {
  background: #DEFFBD url(../images/background-leaves.png) no-repeat bottom left;
  border: 3px solid #ddf1fd;
  color: #00534B;
  margin-top: 25px;
  height: 197px;
  padding: 10px;
}

.color-copri .content-wrapper {
  background: url(../images/background-green-semi-transparent.png) repeat;
  font-family: "Myriad Pro", Myriad, "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin: 18px 230px 0 -10px;
  max-height: 145px;
  overflow: hidden;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
}

.color-copri .content {
  color: #fff;
  font-size: 286%; /* 40px/14px */
  line-height: 90%;
  padding: 20px 20px 20px 50px;
  text-shadow: 2px 2px #bad497;
}

.color-copri h2.block-title {
  color: #00534b;
  font-size: 257%; /* 36px/14px */
  font-weight: normal;
  padding: 20px 20px 0 20px;
  text-transform: none;
}

.color-copri p {
  margin: 0;
}

.color-copri a:link,
.color-copri a:visited {
  color: #4e4e4e;
}

.color-copri .icon-hand {
  background: url(../images/institutes/copri_logo.png) no-repeat top center;
  display: block;
  height: 248px;
  position: absolute;
  right: 0;
  top: -30px;
  width: 270px;
}

/* CI banner */
.color-ci {
  overflow: visible;
  position: relative;
}

.color-ci h2.block-title {
  color: #fff;
}

.color-ci .inner {
  background: #DEFFBD url(../images/background-leaves.png) no-repeat bottom left;
  border: 3px solid #ddf1fd;
  color: #00534B;
  margin-top: 25px;
  height: 197px;
  padding: 10px;
}

.color-ci .content-wrapper {
  background: url(../images/background-green-semi-transparent.png) repeat;
  font-family: "Myriad Pro", Myriad, "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin: 18px 280px 0 -10px;
  max-height: 145px;
  overflow: hidden;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
}

.color-ci .content {
  color: #fff;
  font-size: 286%; /* 40px/14px */
  line-height: 90%;
  padding: 20px 20px 20px 50px;
  text-shadow: 2px 2px #bad497;
}

.color-ci h2.block-title {
  color: #00534b;
  font-size: 257%; /* 36px/14px */
  font-weight: normal;
  padding: 20px 20px 0 20px;
  text-transform: none;
}

.color-ci p {
  margin: 0;
}

.color-ci a:link,
.color-ci a:visited {
  color: #4e4e4e;
}

.color-ci .icon-hand {
  background: url(../images/institutes/CI_logo.png) no-repeat top center;
  display: block;
  height: 248px;
  position: absolute;
  right: 0;
  top: -30px;
  width: 270px;
}

/* Page title with icon */
.full-node-title h1.title {
  padding: 5px 0 10px 45px;
  background: url(../images/icon-title.png) no-repeat;
}

/* Image with border */
.image-border .content img {
  border: 3px solid #ddd;
  margin: 5px 0;
}

/* Block icons */
.block-icon {
  height: 32px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 32px;
}

.block-icon-wrapper h2.block-title {
  padding-left: 35px;
}

.icon-alert .block-icon {
  background: url(../images/icons/icon-alert.png) no-repeat left center;
}

.icon-calendar .block-icon {
  background: url(../images/icons/icon-calendar.png) no-repeat left center;
}

.icon-comment-bubbles .block-icon {
  background: url(../images/icons/icon-comment-bubbles.png) no-repeat left center;
}

.icon-gear .block-icon {
  background: transparent url(../images/icons/icon-gear.png) no-repeat left center;
}

.icon-home .block-icon {
  background: url(../images/icons/icon-home.png) no-repeat left center;
}

.icon-id .block-icon {
  background: url(../images/icons/icon-id.png) no-repeat left center;
}

.icon-newspaper .block-icon {
  background: url(../images/icons/icon-newspaper.png) no-repeat left center;
}

.icon-paint .block-icon {
  background: url(../images/icons/icon-paint.png) no-repeat left center;
}

.icon-paper .block-icon {
  background: url(../images/icons/icon-paper.png) no-repeat left center;
}

.icon-photo .block-icon {
  background: url(../images/icons/icon-photo.png) no-repeat left center;
}

.icon-rss .block-icon {
  background: url(../images/icons/icon-rss.png) no-repeat left center;
}

.icon-search .block-icon {
  background: url(../images/icons/icon-search.png) no-repeat left center;
}

.icon-tools .block-icon {
  background: url(../images/icons/icon-tools.png) no-repeat left center;
}

.icon-user .block-icon {
  background: url(../images/icons/icon-user.png) no-repeat left center;
}

/* List menu with arrow */
.list-menu-arrow .inner {
  padding: 10px;
}

.list-menu-arrow ul.menu {
  margin: 0;
  padding: 0;
}

.list-menu-arrow ul.menu li {
  border-bottom: 2px dotted #6f6f6f;
  display: block;
  margin: 0;
  padding: 0;
}

.list-menu-arrow li.expanded,
.list-menu-arrow li.collapsed,
.list-menu-arrow li.leaf {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

.list-menu-arrow ul.menu li a:link,
.list-menu-arrow ul.menu li a:visited {
  color: #6f6f6f;
  display: block;
  font-weight: bold;
  padding: 3px 5px 3px 20px;
  text-decoration: none;
}

.list-menu-arrow ul.menu li a:hover,
.list-menu-arrow ul.menu li a:focus,
.list-menu-arrow ul.menu li a.active {
  background: url(../images/sidebar-menu-li-bg.png) no-repeat 4px 7px;
}

.list-menu-arrow ul.menu li a:hover,
.list-menu-arrow ul.menu li a:focus {
  color: #6f6f6f;
}

.list-menu-arrow ul.menu li ul.menu li {
  border-top: 2px dotted #6f6f6f;
  border-bottom: none;
  margin: 0 0 0 10px;
  padding: 0;
}

/* Color - Blue */
.color-blue-light.list-menu-arrow ul.menu li a:hover,
.color-blue-light.list-menu-arrow ul.menu li a:focus,
.color-blue-light.list-menu-arrow ul.menu li a.active {
  background-color: #bfd9e9;
}

/* Color - Green */
.color-green-light.list-menu-arrow ul.menu li a:hover,
.color-green-light.list-menu-arrow ul.menu li a:focus,
.color-green-light.list-menu-arrow ul.menu li a.active {
  background-color: #d4e7b1;
}


/* Tab Menus
/-------------------------------------------------------------- */
#content-tabs {
  background-color: transparent;
  float: left;
  margin: 20px 0;
  padding: 0;
}

#content-tabs ul.primary,
#content-tabs ul.secondary {
  border-bottom: 1px solid #000;
  clear: both;
  float: left;
  margin: 0;
  padding: 0 10px;
}

#content-tabs ul.secondary {
  border-bottom: 1px solid #555;
  margin-top: 10px;
  text-transform: lowercase;
}

#content-tabs ul.primary li,
#content-tabs ul.secondary li {
  border-style: none;
  display: inline;
  float: left;
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

#content-tabs ul.primary li a:link,
#content-tabs ul.primary li a:visited,
#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  background-color: transparent;
  border: none;
  color: #000;
  float: left;
  font-weight: bold;
  margin: 0;
  padding: 0 0 6px 0;
  text-decoration: none;
  white-space: nowrap;
}

#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  color: #555;
}

#content-tabs ul.primary li a.active:link,
#content-tabs ul.primary li a.active:visited {
  border-bottom: 4px solid #000;
  color: #555;
  padding-bottom: 2px;
}

#content-tabs ul.secondary li a.active:link,
#content-tabs ul.secondary li a.active:visited {
  border-bottom: 4px solid #555;
  color: #777;
  padding-bottom: 2px;
}

#content-tabs ul.primary li a:hover,
#content-tabs ul.primary li a:focus,
#content-tabs ul.secondary li a:hover,
#content-tabs ul.secondary li a:focus {
  border-bottom: 4px solid #777;
  color: #777;
  padding-bottom: 2px;
}


/* Ubercart - Catalog grid
-------------------------------------------------------------- */
.catalog-grid-title a,
.category a {
  font-size: 107.7%; /* 14px/13px */
  font-weight: bold;
}

.category-grid-products table {
  border-collapse: separate;
  border-spacing: 5px 5px;
}

.category-grid-products table tr {
  border: 10px solid #fff;
  margin: 0 0 5px 0;
  padding: 0;
}

.category-grid-products table td {
  border: 1px solid #ccc;
  padding: 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}


/* Ubercart - Product node
-------------------------------------------------------------- */
.product-info .uc-price-display {
  color: #528DBB;
  font-family: "Myriad Pro", Myriad, "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 184.6%; /* 24px/13px */
  font-weight: normal;
  width: auto;
}

.main-product-image {
  float: left;
  margin: 0 15px 15px 0;
}

#product-details {
  background: #F4F9FB;
  border: 1px solid #C6D2DA;
  color: #0C97CF;
  padding: 20px;
}

#field-group {
  float: left;
}

#price-group {
  float: right;
}


/* Ubercart - Cart block buttons
-------------------------------------------------------------- */
.cart-block-summary-links ul.links li {
  border-right: none;
  padding: 0;
}

.cart-block-view-cart a {
  background: none;
  margin-right: 10px;
}

.cart-block-checkout a:link,
.cart-block-checkout a:visited {
  background: #56AB09;
  border: 1px solid #000;
  color: #fff;
  font-family: "Myriad Pro", Myriad, "Trebuchet MS", Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-size: 107.7%; /* 14px/13px */
  padding: 1px 3px;
}

/* Hover style for form buttons */
.cart-block-checkout a:hover,
.cart-block-checkout a:focus {
  background: #F5AE2B;
  text-decoration: none;
}

/* Checkout buttons  */
#checkout-form-bottom #edit-continue,
#cart-form-buttons #edit-checkout,
tr.review-button-row #edit-submit,
.node-add-to-cart {
  background: #56AB09;
  border: 1px solid #000;
  color: #fff;
  font-family: "Myriad Pro", Myriad, "Trebuchet MS", Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-size: 107.7%; /* 14px/13px */
  padding: 1px 3px;
}

#checkout-form-bottom #edit-continue:hover,
#checkout-form-bottom #edit-continue.hover,
#checkout-form-bottom #edit-continue:focus,
#cart-form-buttons #edit-checkout:hover,
#cart-form-buttons #edit-checkout.hover,
#cart-form-buttons #edit-checkout:focus,
tr.review-button-row #edit-submit:hover,
tr.review-button-row #edit-submit.hover,
tr.review-button-row #edit-submit:focus,
.node-add-to-cart:hover,
.node-add-to-cart.hover,
.node-add-to-cart:focus  {
  background: #F5AE2B;
}

/* Update / Cancel / Back buttons */
input#edit-update,
input#edit-cancel,
input#edit-back {
  background: none;
  border: none;
  color: #E49F02;
  font-family: Arial, Helvetica, Verdana, "Bitstream Vera Sans", sans-serif;     /* web safe fonts */
  font-size: 100%; /* 13px/13px */
  font-weight: normal;
  padding: 1px 3px;
}

input#edit-update:hover,
input#edit-cancel:hover,
input#edit-back:hover {
}


/* Ubercart - Table styles
-------------------------------------------------------------- */
.solid-border {
  border: 1px solid #ccc;
}

#uc-cart-checkout-form table {
  border: none;
}


/* Ubercart - Order overview
-------------------------------------------------------------- */
table.order-review-table {
  border: none;
  font-size: 100%; /* 13px/13px */
  width: 100%;
}

.order-review-table .pane-title-row {
  background: none;
  border: none;
  border-bottom: 1px solid #528DBB;
  padding: 10px 20px;
  text-align: left;
}

.order-review-table .pane-title-row td {
  color: #528DBB;
  font-size: 100%; /* 13px/13px */
  padding: 0;
  text-transform: uppercase;
}

.order-review-table .row-border-top {
  border-top: 3px solid #528DBB;
}

.order-review-table td {
  font-size: 100%; /* 13px/13px */
}

.order-review-table .title-col {
  font-weight: bold;
  padding: 15px 10px;
  text-align: left;
}

.order-review-table .data-col {
  padding: 15px 10px;
}

.order-review-table td {
  padding-bottom: 2px;
  padding-top: 2px;
}

.order-review-table .review-button-row {
  background: none;
  border: none;
  text-align:right;
}

.order-review-table .review-button-row td {
  padding: 10px 0 0 10px;
}

.solid-border {
  border: 3px solid #cf7f00;
}


/* Fusion - Horizontal user login
-------------------------------------------------------------- */
#block-user-0.fusion-horiz-login #user-login-form input.form-text {
  padding: 4px 2px;
}

html.js #block-user-0.fusion-horiz-login #user-login-form label {
  font-size: 120%;
}

html.js #block-user-0.fusion-horiz-login #user-login-form label {
  top: 4px;
}


/* Bright color background tables
-------------------------------------------------------------- */
.color-bright tbody {
  border-top: none;
}

.color-bright thead th,
.color-bright tbody th,
.color-bright th {
  border-bottom: none;
}

.color-bright tr.even,
.color-bright tr.even td {
  background: none;
}

.color-bright tr.odd,
.color-bright tr.odd td {
  background: none;
}


/* Skinr previews
/-------------------------------------------------------------- */
#screenshot .color-blue-light-skinrpreview {
  background: url(../images/skinrpreviews/freshstart-styles-01.png) no-repeat;
}

#screenshot .color-green-light-skinrpreview {
  background: url(../images/skinrpreviews/freshstart-styles-02.png) no-repeat;
}

#screenshot .color-blue-dark-skinrpreview {
  background: url(../images/skinrpreviews/freshstart-styles-03.png) no-repeat;
}

#screenshot .color-green-dark-skinrpreview {
  background: url(../images/skinrpreviews/freshstart-styles-04.png) no-repeat;
}

#screenshot .color-orange-skinrpreview {
  background: url(../images/skinrpreviews/freshstart-styles-05.png) no-repeat;
}

#screenshot .color-gradient-gray-skinrpreview {
  background: url(../images/skinrpreviews/freshstart-styles-06.png) no-repeat;
}

#screenshot .color-leaves-skinrpreview {
  background: url(../images/skinrpreviews/freshstart-styles-07.png) no-repeat;
}

#screenshot .list-menu-arrow-skinrpreview {
  background: url(../images/skinrpreviews/freshstart-styles-08.png) no-repeat;
}

#screenshot .image-border-skinrpreview {
  background: url(../images/skinrpreviews/freshstart-styles-09.png) no-repeat;
}